.content-fragment.webmd-footer-disclaimer-text {
	margin: 0 0 40px 0; /* 40px + 10px margin-bottom in .content-fragment = 50px */
}

.content-fragment.webmd-footer-disclaimer-text p {
    color: #222;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.875em; /* 14px / 16px (1 rem) defined on .footer-fragments */
    letter-spacing: 0;
    line-height: 1.29em; /* 18px / 14px from the paragraph's font-size */
}

/*
 * CSS hack to make child div wider than parent
 * http://stackoverflow.com/questions/5581034/is-there-are-way-to-make-a-child-divs-width-wider-than-the-parent-div-using-css
 */
.webmd-footer-disclaimer-text .webmd-msgboard-disclaimer-text-separator {
	border-top: 2px solid #4a4a4a;
	position: absolute;
	left: 0;
	right: 0;
}