/* Customized Global CSS for Message Boards*/

/* =============================================================================
 Global Footer
 ========================================================================== */
/*
 * This sets some overrides for the Telligent global footer, so that it is consistent with the consumer site's responsive templates.
 */
.footer-fragments {
	border-top: 2px solid #4a4a4a;
	font-size: 1rem;
}

/* =============================================================================
 Buttons
========================================================================== */
.webmdBtn {
		border: none;
		color: #fff;
		background: #f67f00;
		padding: 1em 2em;
		border-radius: 0.5em;
		margin: 1em 0;
		font-size: 0.8em;
}
.smallRoundBtn {
		color: white;
		background: #db8619;
		border-radius: 50%;
		display: inline-block;
		height: 1.5em;
		line-height: 1.5em;
		text-align: center;
		width: 1.5em;
}

/*
* Standard site buttons
*/
.webmd-btn {
	background-color: transparent;
	background-repeat:  no-repeat;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-family: "Fira Sans",Verdana,sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 44px;
}
a.webmd-btn, a.webmd-btn:visited, a.webmd-btn:active, a.webmd-btn:link, a.webmd-btn:hover {
	display: block;
	/* height: 22px; */
	height: 38px;
	padding: 8px 0px 0px 0px;
	text-decoration: none;
	text-align: center;
}
a.webmd-btn-pr, a.webmd-btn-pr:visited, a.webmd-btn-pr:active, a.webmd-btn-pr:link, a.webmd-btn-pr:hover {
	color: #FFF;
}
a.webmd-btn-sc, a.webmd-btn-sc:visited, a.webmd-btn-sc:active, a.webmd-btn-sc:link, a.webmd-btn-sc:hover {
	color: #069;
}
button.webmd-btn {
	height: 27px;
	padding: 0px 0px 2px;
}
.webmd-btn-pr{
	background-color: #f67e00;
	color:#FFF;
}
.webmd-btn-sc{
	color: #069;
}
.webmd-btn-l {
	width: 117px;
}
.webmd-btn-m {
	width: 91px;
}
.webmd-btn-s {
	width: 72px;
}
.webmd-btn-xs {
	width: 52px;
}


/* =============================================================================
 Standard Overlay
 ========================================================================== */
#webmdHoverOverlay {
background:#fefefe;
height:100%;
position:fixed;
width:100%;
z-index:999;
}
#colorbox {
background:#fff;
-moz-box-shadow: 0px 0px 15px 2px  #7f7f7f;
-webkit-box-shadow: 0px 0px 15px 2px  #7f7f7f;
box-shadow: 0px 0px 15px 2px  #7f7f7f;
-moz-border-radius: 10px;
border-radius: 10px;
position:absolute;
width:550px;
z-index:999;
overflow:visible !important;
padding: 0px !important;
}
.browserIE #colorbox {
border:1px solid #7f7f7f;
}
#webmdHoverContent {
background:#fff;
-moz-border-radius: 12px;
border-radius: 12px;
}
.browserIE #webmdHoverContent {
border:1px solid #999;
}
/* Outer */
.browserIE_7 #colorbox,
.browserIE_8 #colorbox {
border-color: #DADADA;
padding-bottom: 2px !important;
padding-right: 2px !important;
}
/* Inner */
.browserIE_7 #webmdHoverContent,
.browserIE_8 #webmdHoverContent {
border-color: #B9B9B9;
}
#webmdHoverClose {
background:url('//img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/modules/webmd_overlay_close_x.png') no-repeat;
cursor:pointer;
display:block;
height:34px;
text-indent:-5000px;
position:absolute;
width:34px;
top:-15px;
right:-15px;
z-index:999;
}
#webmdHoverTitle {
display:none;
}

/* WebMD Archive link overlay */
#archivepopover {
margin: 0px 25px 25px 25px;
width: 310px;
}

#archivepopover h3 {
color: #222;
font-family: "Fira Sans", Verdana, sans-serif;
font-size: 1.3em;
font-weight: bold;
padding: 15px 22px 0 0;
}

#archivepopover p {
font-size: 0.85em;
padding-top: 10px;
}

#webmdHoverContent h3 {
color: #222;
font-family: "Fira Sans", Verdana, sans-serif;
font-size: 1.1em !important;
font-weight: normal !important;
margin: 15px 0;
padding: 0;
}

#webmdHoverContent p {
/* font-size: 0.85em; */
font-family: "Fira Sans",Verdana,sans-serif;
font-weight: 300;
}

/* START styles for WebMD Confirm and Alert defaults */
#webmd_confirm {
text-align:center;
padding:28px;
}
#webmd_confirm .webmd_confirm_content {
text-align:left;
}
#webmd_confirm .webmd_confirm_buttons {
margin-top:10px;
}
#webmd_confirm_false_button {
margin-left:12px;
}